*.iml
.gradle
.vscode
local.properties
.idea
.DS_Store
build
docs/javadoc
docs/uml/out
captures
site
.externalNativeBuild
.cxx
local.properties
node_modules
.venv
**/.project
**/.settings
**/.classpath